<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <title>{{ page.title }} - {{site.title}}</title>
  <h1><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title }}</a></h1>
  <style>
    body, html {
      font-family: arial, sans-serif;
      font-size: 11pt;
    }

    #visualization {
      box-sizing: border-box;
      width: 100%;
      height: 300px;
    }
  </style>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style-visjs.css" />
 <link rel="stylesheet" href="{{ site.baseurl }}/assets/visjs/vis-timeline-graph2d.min.css" />
  <script src="{{ site.baseurl }}/assets/visjs/vis-timeline-graph2d.min.js"></script>

</head>
<body>
<p>
  In this post I experiment with vis.js to make a timeline.
</p>
<div id="visualization"></div>

<script>
  var groups = new vis.DataSet([
    {id: 0, content: 'Training', value: 1},
    {id: 1, content: 'ARU Admin', value: 2},
    {id: 2, content: 'Presentations', value: 3},
    {id: 3, content: 'Experiments', value: 4}
  ]);

  // create a dataset with items
  // note that months are zero-based in the JavaScript Date object, so month 3 is April
  var items = new vis.DataSet([
    {	id: 0	,	group: 0	,	content: 'BCI @ <a href="https://www.udemy.com/course/brain-computer-interface/" target="_blank">Udemy</a>'	,	type: 'point'	,	start: new Date(2015,10,26)	,	end: new Date(2015,10,28)	},
    {	id: 1	,	group: 1	,	content: 'Approval of Research Proposal'	,	type: 'point'	,	start: new Date(2015,12,22)	,		},
    {	id: 2	,	group: 2	,	content: 'MPA PhD Seminar – presentation'	,	type: 'point'	,	start: new Date(2016,1,18)	,		},
    {	id: 3	,	group: 3	,	content: '3D printing OpenBCI'	,	type: 'point'	,	start: new Date(2016,2,01)	,	end: new Date(2016,2,07)	},
    {	id: 4	,	group: 3	,	content: 'external midi device'	,	type: 'point'	,	start: new Date(2016,2,25)	,		},
    {	id: 5	,	group: 3	,	content: 'INScore'	,	type: 'point'	,	start: new Date(2016,3,01)	,	end: new Date(2016,3,07)	},
    {	id: 6	,	group: 3	,	content: 'OpenVibe and Emotiv'	,	type: 'point'	,	start: new Date(2016,3,04)	,		},
    {	id: 7	,	group: 1	,	content: 'ARU 500 bursary'	,	type: 'point'	,	start: new Date(2016,3,25)	,		},
    {	id: 8	,	group: 2	,	content: 'ARU Reseach Conference – poster'	,	type: 'point'	,	start: new Date(2016,6,17)	,		},
    {	id: 9	,	group: 2	,	content: 'MPA PhD Seminar – presentation'	,	type: 'point'	,	start: new Date(2016,3,23)	,		},
  ]);

  // create visualization
  var container = document.getElementById('visualization');
  var options = {
    // option groupOrder can be a property name or a sort function
    // the sort function must compare two groups and return a value
    //     > 0 when a > b
    //     < 0 when a < b
    //       0 when a == b
    groupOrder: function (a, b) {
      return a.value - b.value;
    },
    editable: false
  };

  var timeline = new vis.Timeline(container);
  timeline.setOptions(options);
  timeline.setGroups(groups);
  timeline.setItems(items);

</script>
</body>
<!-- {{ content }} -->
</html>
