<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <title>{{ page.title }} - {{site.title}}</title>
  <h1><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title }}</a></h1>
  <style>
    body, html {
      font-family: arial, sans-serif;
      font-size: 11pt;
    }

    #visualization {
      box-sizing: border-box;
      width: 100%;
      height: 300px;
    }
  </style>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style-visjs.css" />
 <link rel="stylesheet" href="{{ site.baseurl }}/assets/visjs/vis-timeline-graph2d.min.css" />
  <script src="{{ site.baseurl }}/assets/visjs/vis-timeline-graph2d.min.js"></script>

</head>
<body>
<p>
  In this post I experiment with vis.js to make a timeline.
</p>
<div id="visualization"></div>

<script>
  var groups = new vis.DataSet([
    {id: 0, content: 'Additional Training', value: 6},
    {id: 1, content: 'ARU Reviews', value: 5},
    {id: 2, content: 'Public engagement', value:7},
    {id: 3, content: 'Experiments', value: 8},
    {id: 4, content: 'First Supervisor', value: 1},
    {id: 5, content: 'Second Supervisor', value:2},
    {id: 6, content: 'External Advisor', value: 3},
    {id: 7, content: 'Status Changes', value: 4}
  ]);

  // create a dataset with items
  // note that months are zero-based in the JavaScript Date object, so month 3 is April
  var items = new vis.DataSet([
    {	id: 0	,	group: 4	,	content: 'Tom Hall'	,	type: 'background'	,	start: new Date(2015,09,01)	,	end: new Date(2017,1,01)	},
    {	id: 1	,	group: 4	,	content: 'Richard Hoadley'	,	type: 'background'	,	start: new Date(2017,10,20)	,	end: new Date(2018,3,01)	},
    {	id: 2	,	group: 4	,	content: 'Paul Rhys'	,	type: 'background'	,	start: new Date(2018,08,02)	,	end: new Date(2020,0,31)	},
    {	id: 3	,	group: 5	,	content: 'Jörg Fachner'	,	type: 'background'	,	start: new Date(2015,09,01)	,	end: new Date(2020,0,31)	},
    {	id: 4	,	group: 6	,	content: 'Fredrik Olofsson'	,	type: 'background'	,	start: new Date(2018,08,02)	,	end: new Date(2020,0,31)	},
    {	id: 5	,	group: 7	,	content: 'Intermitting'	,	type: 'background'	,	start: new Date(2018,3,01)	,	end: new Date(2018,8,01)	,	title: 'I was intermitting for 6 months as I was not sure what is happening with supervision.'	},
    {	id: 6	,	group: 7	,	content: 'Writing Up'	,	type: 'background'	,	start: new Date(2019,0,01)	,	end: new Date(2020,0,31)	},
    {	id: 7	,	group: 0	,	content: 'BCI @ <a href="https://www.udemy.com/course/brain-computer-interface/" target="_blank">Udemy</a>'	,	type: 'point'	,	start: new Date(2015,09,26)	,	end: new Date(2015,9,28)	,	title: 'Introduction to BCI.'	},
    {	id: 8	,	group: 1	,	content: 'Approval of Research Proposal'	,	type: 'point'	,	start: new Date(2015,11,22)	,		},
    {	id: 9	,	group: 2	,	content: 'MPA PhD Seminar – presentation'	,	type: 'point'	,	start: new Date(2016,0,18)	,		},
    {	id: 10	,	group: 3	,	content: 'Printing OpenBCI headware'	,	type: 'point'	,	start: new Date(2016,1,01)	,	end: new Date(2016,1,07)	},
    {	id: 11	,	group: 3	,	content: 'External Midi Device'	,	type: 'point'	,	start: new Date(2016,1,25)	,		},
    {	id: 12	,	group: 3	,	content: 'INScore'	,	type: 'point'	,	start: new Date(2016,1,26)	,	end: new Date(2016,2,07)	},
    {	id: 13	,	group: 2	,	content: 'Sonic Art guest talk'	,	type: 'point'	,	start: new Date(2016,0,18)	,		},
    {	id: 14	,	group: 3	,	content: 'OpenVibe and Emotiv'	,	type: 'point'	,	start: new Date(2016,2,04)	,		},
    {	id: 15	,	group: 3	,	content: 'Platypus standalone'	,	type: 'point'	,	start: new Date(2016,2,04)	,		},
    {	id: 16	,	group: 2	,	content: 'MPA PhD Seminar – presentation'	,	type: 'point'	,	start: new Date(2016,2,23)	,		},
    {	id: 17	,	group: 1	,	content: '1st Annual Review'	,	type: 'point'	,	start: new Date(2016,4,19)	,		},
    {	id: 18	,	group: 2	,	content: 'Pint of Science  <a href="https://khofstadter.info/pint-of-science/">&#128279</a>'	,	type: 'point'	,	start: new Date(2016,4,24)	,		},
    {	id: 19	,	group: 2	,	content: 'ARU Research Conference – poster  <a href="https://bcmi.khofstadter.info/aru-research-conference-poster/"&#128279</a>'	,	type: 'point'	,	start: new Date(2016,5,06)	,		},
    {	id: 20	,	group: 2	,	content: 'MPA PhD Seminar – presentation'	,	type: 'point'	,	start: new Date(2016,5,21)	,		},
    {	id: 21	,	group: 2	,	content: 'Musedelica Symposium – demo'	,	type: 'point'	,	start: new Date(2016,6,14)	,		},
    {	id: 22	,	group: 7	,	content: 'Change of title and type of research'	,	type: 'point'	,	start: new Date(2016,10,30)	,	end: new Date(2017,0,07)	},
    {	id: 23	,	group: 0	,	content: 'Serious Gaming @ <a href="https://www.coursera.org/learn/serious-gaming/" target="_blank">Coursera</a>'	,	type: 'point'	,	start: new Date(2016,11,12)	,	end: new Date(2017,0,18)	},
    {	id: 24	,	group: 2	,	content: 'MPA PhD Seminar – presentation'	,	type: 'point'	,	start: new Date(2017,0,17)	,		},
    {	id: 25	,	group: 2	,	content: 'First Sight – demonstration'	,	type: 'point'	,	start: new Date(2017,0,17)	,		},
    {	id: 26	,	group: 1	,	content: 'Confirmation of Candidature'	,	type: 'point'	,	start: new Date(2017,2,07)	,		},
    {	id: 27	,	group: 0	,	content: 'Music as Biology @ <a href="https://www.coursera.org/learn/music-as-biology/" target="_blank">Coursera</a>'	,	type: 'point'	,	start: new Date(2017,2,13)	,	end: new Date(2017,2,20)	},
    {	id: 28	,	group: 0	,	content: 'Quantitative EEG @ <a href="http://qeeg.co.uk/qeeg-workshop/" target="_blank">QEEG</a>'	,	type: 'point'	,	start: new Date(2017,3,11)	,		},
    {	id: 29	,	group: 1	,	content: '2nd Annual Review'	,	type: 'point'	,	start: new Date(2017,6,26)	,		},
    {	id: 30	,	group: 2	,	content: 'Multilingual Conference, Essex – presentation'	,	type: 'point'	,	start: new Date(2018,1,14)	,		},
    {	id: 31	,	group: 3	,	content: 'IBVA SuperCollider Quark <a href="https://bcmi.khofstadter.info/ibva-supercollider-quark/">&#128279</a>'	,	type: 'point'	,	start: new Date(2018,1,24)	,		},
    {	id: 32	,	group: 3	,	content: 'OpenBCI Firmware Update Struggles'	,			start: new Date(2018,2,01)	,	end: new Date(2018,4,01)	},
    {	id: 33	,	group: 2	,	content: 'StoryLab Symposium <a href="https://bcmi.khofstadter.info/storylab-symposium-talk/">&#128279</a>'	,	type: 'point'	,	start: new Date(2018,2,14)	,		},
    {	id: 34	,	group: 2	,	content: 'Qujing University, China <a href="https://bcmi.khofstadter.info/qujing-university-talk/">&#128279</a>'	,	type: 'point'	,	start: new Date(2018,3,18)	,		},
    {	id: 35	,	group: 2	,	content: 'CIMTRE Networking Event <a href="https://bcmi.khofstadter.info/cimtre-networking/">&#128279</a>'	,	type: 'point'	,	start: new Date(2018,4,18)	,		},
    {	id: 36	,	group: 3	,	content: 'Pyton Experiments'	,			start: new Date(2018,2,01)	,	end: new Date(2018,4,01)	},
    {	id: 37	,	group: 3	,	content: 'Greentek S1'	,	type: 'point'	,	start: new Date(2018,6,19)	,		},
    {	id: 38	,	group: 2	,	content: 'Festival of Ideas – presentation <a href="https://bcmi.khofstadter.info/festival-of-ideas-talk-2018/">&#128279</a>'	,	type: 'point'	,	start: new Date(2018,9,24)	,		},
    {	id: 39	,	group: 1	,	content: '3rd Annual Review'	,	type: 'point'	,	start: new Date(2018,11,18)	,		},
    {	id: 40	,	group: 2	,	content: 'Tibetan Singing Bowl Meditation <a href="https://bcmi.khofstadter.info/tibetan-singing-bowls-meditation-with-eeg/">&#128279</a>'	,	type: 'point'	,	start: new Date(2018,10,21)	,		},
    {	id: 41	,	group: 2	,	content: 'ASMR experiment  <a href="https://bcmi.khofstadter.info/asmr-eeg-tests/">&#128279</a>'	,	type: 'point'	,	start: new Date(2018,10,28)	,		},
    {	id: 42	,	group: 0	,	content: 'Drum Healing Training Program @ <a href="https://www.stronginstitute.com/" target="_blank">Strong Institute</a>'	,	type: 'point'	,	start: new Date(2019,1,11)	,	end: new Date(2019,3,15)	},
    {	id: 43	,	group: 0	,	content: 'Commercialise Your Research Workshop, ARU'	,	type: 'point'	,	start: new Date(2019,2,25)	,		},
    {	id: 44	,	group: 2	,	content: 'AES York Conference – demo <a href="https://bcmi.khofstadter.info/aes-york-conference-demo-2019/">&#128279</a>'	,	type: 'point'	,	start: new Date(2019,1,27)	,		},
    {	id: 45	,	group: 2	,	content: 'Aphorisms by David Ryan<a href="https://bcmi.khofstadter.info/aphorisms/”>&#128279</a>'	,	type: 'point'	,	start: new Date(2019,5,13)	,		},
    {	id: 46	,	group: 0	,	content: 'Intellectual Property Workshop, ARU'	,	type: 'point'	,	start: new Date(2019,6,03)	,		},
    {	id: 47	,	group: 3	,	content: 'Greentek S3'	,	type: 'point'	,	start: new Date(2019,6,05)	,		},
    {	id: 48	,	group: 3	,	content: '3D OpenBCI enclosure'	,	type: 'point'	,	start: new Date(2019,6,17)	,		},
    {	id: 49	,	group: 2	,	content: 'Cambridge Festival of Ideas 2019 – performance <a href="https://bcmi.khofstadter.info/festival-of-ideas-performance-2019/">&#128279</a>'	,	type: 'point'	,	start: new Date(2019,9,26)	,		},
    {	id: 50	,	group: 2	,	content: 'Talk and performance for final year music students, ARU'	,	type: 'point'	,	start: new Date(2019,9,26)	,		},

  ]);

  // create visualization
  var container = document.getElementById('visualization');
  var options = {
    // option groupOrder can be a property name or a sort function
    // the sort function must compare two groups and return a value
    //     > 0 when a > b
    //     < 0 when a < b
    //       0 when a == b
    groupOrder: function (a, b) {
      return a.value - b.value;
    },
    editable: false
  };

  var timeline = new vis.Timeline(container);
  timeline.setOptions(options);
  timeline.setGroups(groups);
  timeline.setItems(items);

</script>
</body>
<!-- {{ content }} -->
</html>
